body {
    height: 100vh;
    width: 100%;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

img {
    width: 400px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
}

/* one */

.one {
    background-color: #1f2937;
}

.one h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0;
}

.one p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.one header {
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
}

.head {
    display: flex;
    align-items: center;
    padding: 12px;
}

.links {
    display: flex;
    gap: 16px;
}

.width {
    display: flex;
    flex-direction: column;
}

.container1 {
    display: flex; 
    flex-direction: column;
    width: 400px;
    align-items: flex-start;
    gap: 8px;
}

.content1 {
    display: flex;
}

/* two */